.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.txt
*.html

Zidispersal/Old_files/
Figures/
Latex_files/
Paper/
References/
Figure/
Output/
Data/

Figure_applied/
Figure_simulation/


Tables_applied/
Tables_cross/
Tables_simulation/

Documents/
ZIdispersal/Install_test.R
ZIdispersal/.gitignore
